/* Navbar */
.navbar-brand {
    display: flex;
    align-items: center; /* Align items vertically */
    font-size: 24px;
    color: #333;
}

/* Profile link/icon */
.profile-link {
    font-size: 18px;
    color: #555;
}

/* Navbar container */
.navbar-nav {
    display: flex;
    align-items: center;
}

/* Navbar toggler */
.navbar-toggler {
    font-size: 24px;
    color: #555;
}

/* Search button */
.btn-outline-success {
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
}

/* Center menu items */
.navbar-nav {
    margin-left: auto; /* Move the menu items to the far right */
    flex-direction: row; /* Reverting back to row layout */
    justify-content: center; /* Centering the items */
}

/* Search form */
.search-form {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add space between search button and profile */
}

/* Jumbotron */
.jumbotron {
    font-size: 24px;
    color: #333;
    background-color: #f8f9fa;
}

/* Learn more button */
.btn-primary {
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }
    .nav-item {
        margin-bottom: 10px;
    }
}